strong
  font-weight 700
  color #282c34

.theme-default-content pre, .theme-default-content pre[class*="language-"]
  padding 1.8rem 1.5rem 1.25rem

a.sidebar-link.active
  background-color tint($accentColor, 65%)
.sidebar-sub-headers a.sidebar-link.active
  background-color tint($accentColor, 90%)